{% include "base.html" %}
{% include "navigation.html" %}
<div>
    <h2>View Appointments</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>AppointmentID</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
    <tbody>
        {% for i in doc %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.doctor.Name}}</td>
            <td>{{i.patient.name}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td><a href="{% url 'delete_appointment' i.id %}" 
            onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>  
</div>
{% include "footer.html" %}